.wrapper-block {
	overflow: hidden;
}
.promo {
	&__title {
		width: 50%;
		float: left;
		position: relative;
		&__picture img {
			width: 100%;
			height: auto;
		}
		&__discription {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -56px 0 0 -140px;
			border: 10px solid #000;
			padding: 27px 42px;
			& h1 {
				margin: 0;
				font-weight: bold;
			}
		}
	}
}