.bg-dark {
	background: #ccc8b6;
}
.padding-different {
	padding: 86px 54px 50px;
}



.wrapper-command {
	overflow: hidden;
}
.command {
	overflow: hidden;
	width: 100%;
	& .promo__title {
		width: 33.3%;
		float: left;
		position: relative;
		& img {
			width: 100%;
			height: auto;
		}
		&__article {
		}
	}
}
.article {
	&__title {
		text-align: center;
		margin-bottom: 52px;
		& h2 {
			margin: 0;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	&__discription {
		margin-bottom: 47px;
	}
	&__icons {
		& ul {
			& li {
				display: inline-block;
				margin-right: 27px;
				margin-bottom: 15px;
				&.icon-facebook img {
					width: 17px;
				}
				&.icon-twitter img {
					width: 32px;
				}
				&.icon-tumblr img {
					width: 27px;
				}
				&.icon-linkedin img {
					width: 30px;
				}
				&.icon-instagram img {
					width: 31px;
				}
				&.icon-google img {
					width: 33px;
				}
				&.icon-google {
					margin-right: 0;
				}
			}
		}
	}
}
a.facebook {
  display: block;
  text-indent: -9999px;
  width: 17px;
  height: 30px;
  background: url(../images/icons/PNG/facebook2.png) no-repeat;
  background-size: 17px 30px;
  &:hover {
  	background: url(../images/icons/svgcolor/facebook.png) no-repeat;
  	background-size: 17px 30px;
  }
}
a.twitter {
  display: block;
  text-indent: -9999px;
  width: 34px;
  height: 30px;
  background: url(../images/icons/PNG/Untitled-1.png) no-repeat;
  background-size: 34px 30px;
  &:hover {
  	background: url(../images/icons/svgcolor/twitter.png) no-repeat;
  	background-size: 34px 30px;
  }
}
a.tumblr {
  display: block;
  text-indent: -9999px;
  width: 18px;
  height: 30px;
  background: url(../images/icons/PNG/tumblr.png) no-repeat;
  background-size: 18px 30px;
  &:hover {
  	background: url(../images/icons/svgcolor/tumblr.png) no-repeat;
  	background-size: 18px 30px;
  }
}
a.linkedin {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url(../images/icons/PNG/linkedin2.png) no-repeat;
  background-size: 30px 30px;
  &:hover {
  	background: url(../images/icons/svgcolor/linkedin.png) no-repeat;
  	background-size: 30px 30px;
  }
}
a.instagram {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url(../images/icons/PNG/instagram2.png) no-repeat;
  background-size: 30px 30px;
  &:hover {
  	background: url(../images/icons/svgcolor/instagram.png) no-repeat;
  	background-size: 30px 30px;
  }
}
a.google {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url(../images/icons/PNG/google.png) no-repeat;
  background-size: 30px 30px;
  &:hover {
  	background: url(../images/icons/svgcolor/google.png) no-repeat;
  	background-size: 30px 30px;
  }
}